<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    {{title}}
    <h2>{{title}}</h2>
    <div>
      <input v-model="text" />
      <p>您输入内容是：{{text}}</p>
    </div>
  </div>
  <script src="./myVue.js"></script>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        title: '初识vue',
        text: '请输入内容',
        info: {
          code: 1,
          msg: 'success'
        }
      }
    })
  </script>
</body>
</html>